// import variables
@use "variables" as *;

// font imports
@font-face {
  font-family: "LibreFranklin";
  src: url(/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "LibreFranklinItalic";
  src: url(/fonts/Libre_Franklin/LibreFranklin-Italic-VariableFont_wght.ttf) format("truetype");
  font-display: swap;
}

* {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  text-align: left;

  @media only screen and (max-width: $tablet) {
    font-size: 16px;
  }
}

body, header, footer, button, select, a {
  color: $black;
}

// default typography
body, button, input, select {
  font-family: "LibreFranklin", sans-serif;
  font-display: swap;
  line-height: 1.25;
  letter-spacing: 2%;
}

h1, h2, h3, h4 {
  font-weight: 800;
  width: 100%;
  text-align: left;
}

h1 {
  text-align: center;
  line-height: 1;
  font-family: "LibreFranklin", sans-serif;
  font-size: 4rem;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

h2 {
  margin: 0;
  margin-top: 20px;
  font-size: 1.5rem;

  &:first-of-type {
    margin-top: 0;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 1.25rem;
  margin: 0;
  margin-top: 10px;

  @media only screen and (max-width: $tablet) {
    font-size: 1.1rem;
  }
}


h4 {
  margin: 0;
  font-size: 1.1rem;

  @media only screen and (max-width: $tablet) {
    font-size: 1rem;
  }
}

a {
  &:hover {
    color: $color4;
    font-style: italic;

    @media only screen and (max-width: $tablet) {
      color: $black;
      font-style: normal;
    }
  }

  &.header-link {
    width: 100%;
    text-decoration: none;
  }
}

section {
  p, a, li {
    font-size: 0.95rem;
  }

  blockquote {
    font-size: 0.95rem;
    width: 100%;
    background-color: rgba($white, 0.5);
    border: solid $black 3px;
    margin: 0;
    padding: 15px;
  }
}

footer {
  p, a {
    text-align: center;
    font-size: 0.85rem;
  }
}